@media only screen and (min-width: 960px) {

        #container { position:absolute; top:30px; left:20px; border:1px solid black; height:350px; width:760px; }

        #bar0 { position:absolute; top:100px; left:25%; height:200px; width:30px; }

        #bar1 { position:absolute; top:100px; left:50%; height:200px; width:30px; }

        #bar2 { position:absolute; top:100px; left:75%; height:200px; width:30px; }


        .disk { 
                padding:0; margin:0; position:absolute; height:26px; 
                -moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px;
        }

        /* left of disk0 at 35px; left = 130 (bar0 left) -w/2 + 15 (bar width/2)  */
        #disk0  { top:274px; left:191px; width:220px;  } 
        #disk1 { top:248px; left:211px; width:180px; }
        #disk2 { top:222px; left:231px; width:140px; }  

        #bottombar { 
                position:absolute; top:300px; left:10px; background:#222; 
                height:30px; width:100%; 
        }

        label { float:right; width:100px; margin-top:8px;}

        button { float:right; margin-top:26px; margin-right:16px; padding:2px 8px; height:28px;}

        img { height:205px; width:30px; padding:0; margin:0; } /* for towers (bars) */

        .insideImg { z-index:100; position:absolute; border:0;top:-1px; height:14px; width:30px; }

}

@media only screen and (max-device-width: 480px) {
        #disk0  { top:274px; left:91px !important; width:220px;  } 
        #disk1 { top:248px; left:111px !important; width:180px; }
        #disk2 { top:222px; left:131px !important; width:140px; }         
}

@media only screen and (device-width: 768px) {
        #disk0  { top:274px; left:91px !important; width:220px;  } 
        #disk1 { top:248px; left:111px !important; width:180px; }
        #disk2 { top:222px; left:131px !important; width:140px; }    
}